<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/base :: common_header(~{},~{},~{})">
</head>
<body class="app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="clearfix">
                <h1>1. 新用户密码默认是 111111</h1>
                <h1>2. 生产的物料必须要有 BOM 模版才能被选到</h1>
            </div>
        </div>
    </div>
</div>
<!-- CoreUI and necessary plugins-->
</body>
</html>
