<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <style>

    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">学生信息 thymeleaf 实现</div>
            <div class="card-body">
                <form class="form-horizontal" id="form">
                    <input type="hidden" id="id" th:value="${student.id}">
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="code">编号</label>
                        <div class="col-4"><input class="form-control" type="text" id="code" value="" name="code" required th:value="${student.code}" th:disabled="${student.code}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="name">姓名</label>
                        <div class="col-4"><input class="form-control" type="text" id="name" value="" name="name" required th:value="${student.name}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="remark">简介</label>
                        <div class="col-4"><textarea class="form-control" id="remark" name="remark" th:text="${student.remark}" required></textarea></div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-1 col-11"> <button class="btn btn-primary mr-4" type="button" onclick="send()">
                            <i class="fa fa-send"></i> 保存</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/js/form-support.js}"></script>
    <script th:src="@{/jquery.form2json.js}"></script>
    <script>
        let formDOM = document.getElementById("form")
        let idDOM = document.getElementById("id")
        let codeDOM = document.getElementById("code")
        registerValid(formDOM);

        function send() {
            if (formDOM.valid()) {
                let formData = $('form').form2json({
                    multiValSelector: '[type=checkbox]'
                });

                $.ajax ({
                    url: "/students",
                    type: "post",
                    data: JSON.stringify(formData),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(res) {
                        if (!res.success) {
                            toastr.error(res.message)
                        } else {
                            idDOM.value = res.data.id
                            codeDOM.value = res.data.code
                            codeDOM.setAttribute("disabled", "true")
                            toastr.success("保存成功")
                            reloadTab('student')
                        }
                    }
                });
            }
        }
    </script>
</th:block>
</body>
</html>