<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sp="http://www.w3.org/1999/html">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/multiple-select/multiple-select.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/code-input/code-input.css}">
    <style>

    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">学生信息 thymeleaf 实现</div>
            <div class="card-body">
                <form class="form-horizontal" id="form" name="form">
                    <input type="hidden" id="id" th:value="${student.id}">
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="code">编号</label>
                        <div class="col-4"><input class="form-control" type="text" id="code" name="code" pattern="^[0-9a-zA-Z_\/%\-]{1,}$" th:value="${student.code}" th:disabled="${student.code}" required></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="name">姓名</label>
                        <div class="col-4"><input class="form-control" type="text" id="name" name="name" required th:value="${student.name}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required">gender</label>
                        <div class="col-4 col-form-label">
                            <div class="form-check-group" id="gender">
                                <div class="form-check form-check-inline mr-2" th:each="dict : ${GenderEnum}">
                                    <input class="form-check-input" type="radio" th:id="${'radio_' + dict.name}" th:value="${dict.name}" name="gender" th:checked="${student.gender ne null &amp;&amp; dict.name == student.gender.name}">
                                    <label class="form-check-label" th:for="${'radio_' + dict.name}" th:text="${dict.label}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="birthday">出生日期</label>
                        <div class="col-4">
                            <input type="text" class="form-control" id="birthday" name="birthday" th:value="${student.birthday}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="age">年龄</label>
                        <div class="col-4">
                            <input class="form-control" type="number" id="age" name="age" th:value="${student.age}" pattern="-?\d+(\.\d+)?" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="marriage">婚否</label>
                        <div class="col-4 col-form-label">
                            <div class="form-check form-check-inline mr-2">
                                <input class="form-check-input" type="checkbox" th:id="marriage" th:value="1" name="marriage" th:checked="${student.marriage ne null &amp;&amp; student.marriage == true }">
                                <label class="form-check-label" th:for="marriage"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="email">email</label>
                        <div class="col-4">
                            <input class="form-control" type="text" id="email" name="email" th:value="${student.email}" pattern="^(.+)@(\S+)$" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required">hobbyList</label>
                        <div class="col-4 col-form-label form-group-check-container">
                            <div class="form-check-group" id="hobbyList">
                                <div class="form-check form-check-inline mr-2" th:each="dict : ${HobbyEnum}" th:with="hobbyList=${new com.rick.formflow.form.cpn.CheckBox().parseValue(student.hobbyList ne null ? student.hobbyList : null)}">
                                    <input class="form-check-input" type="checkbox" th:id="${'checkbox_' + dict.name}" th:value="${dict.name}" name="hobbyList" th:checked="${hobbyList ne null &amp;&amp; #sets.contains(hobbyList, dict.name)}">
                                    <label class="form-check-label" th:for="${'checkbox_' + dict.name}" th:text="${dict.label}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="unitCode">单位code</label>
                        <div class="col-4">
                            <sp:select class="form-control" id="unitCode" name="unitCode" key="UNIT" th:value="${student.unit ne null ? student.unit.code : ''}" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="materialTypeList">物料类型</label>
                        <div class="col-4">
                            <sp:select class="form-control" id="materialTypeList" name="materialTypeList" key="MATERIAL" th:value="${student.materialTypeList ne null ? student.materialTypeList : ''}" hideDummyItemText required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="category">分类</label>
                        <div class="col-4">
                            <sp:select class="form-control" id="category" name="category" key="CategoryEnum" th:value="${student.category ne null ? student.category.name : ''}" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="attachments_file">attachments</label>
                        <div class="col-11">
                            <sp:file form-name="form" name="attachments" sp:value="${student.attachments}"></sp:file>
                        </div>
                    </div>
                    <!-- 自定义附件 -->
                    <div class="form-group row">
                        <label class="col-1 col-form-label required">头像</label>
                        <div class="col-11 col-form-label">
                            <div class="avatar-container">
                                <input type="text" style="display:none;"
                                       th:value="${student.avatar ne null ? '[' + T(com.rick.common.util.JsonUtils).toJson(student.avatar) + ']' : '[]'}">
                                <input style="display: none;" type="file" name="image_file" id="image_file"
                                       accept="image/*" data-group-name="images"
                                       onchange="imageUpload.ajaxFileUpload()">
                                <div class="attachment-items">
                                    <div class="item" style="display: inline-block" th:with="avatar = ${ student.avatar ne null ? student.avatar.url : '/img/default_avatar.png'}">
                                        <div style="position: relative; border-radius: 100%; width: 100px; height: 100px; max-width: 100%; max-height: 100%; display: flex; align-items: center; justify-content: center; user-select: none; opacity: 1;">
                                            <a class="delete-btn" style="display: none; position: absolute; right: 0; top:0; border-radius: 50%; border: 1px solid #20a8d8; width: 20px; height: 20px; text-align: center; line-height: 15px;" href="javascript:;" onclick="imageUpload.deleteAttachment(document.getElementById('avatar').getAttribute('value'), this)">x</a>
                                            <img id="avatar" th:src="${avatar}"
                                                 style="display: block; object-fit: cover; border-radius: 100%; width: 100%; height: 100%; cursor: pointer"
                                                 onclick="document.getElementById('image_file').click()"
                                                 alt="avatar" th:value="${student.avatar ne null ? student.avatar.id : ''}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="remark">简介</label>
                        <div class="col-4"><textarea class="form-control" id="remark" name="remark" th:text="${student.remark}" required></textarea></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="operatorCode">操作人</label>
                        <div class="col-4" style="position: relative;">
                            <sp:code-input container-id="operator-container" name="operatorCode" key="users" hide-header remote show-report required/>
                            <label style="position: absolute; left: 100%; top: 6px; white-space: nowrap;" id="operatorName"></label>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-1 col-form-label required" for="available">状态</label>
                        <div class="col-4">
                            <label class="switch switch-pill switch-primary">
                                <input class="switch-input" type="checkbox" id="available" name="available" th:checked="${student.available ne null && student.available == true }">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-1 col-11"> <button class="btn btn-primary mr-4" type="button" onclick="send()">
                            <i class="fa fa-send"></i> 保存</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/js/form-support.js}"></script>
    <script th:src="@{/plugins/jquery.form2json.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script th:src="@{/plugins/multiple-select/multiple-select.min.js}"></script>

    <script th:src="@{/ajaxfileupload.js}"></script>
    <script type="text/javascript" th:src="@{/js/upload.js}"></script>

    <script th:src="@{/js/jquery.dialog.js}"></script>
    <script th:src="@{/js/jquery.dialog-reportpicker.js}"></script>
    <script th:src="@{/plugins/code-input/code-input.min.js}"></script>
    <script th:inline="javascript">
        let hasAuthority = false
        /*[# sec:authorize="${hasAuthority('student_edit') or hasAuthority('student_delete') }"]*/
        // hasAuthority = true // TODO 根据业务配置
        /*[/]*/

        hasAuthority = true // 不进行权限控制

        let readonly = !hasAuthority || [[${query.readonly}]]

        let formDOM = document.getElementById("form")
        let idDOM = document.getElementById("id")

        let originalFormData = /*[[${ student }]]*/
        originalFormData.materialTypeList = [[${new com.rick.formflow.form.cpn.CheckBox().parseValue(student.materialTypeList)}]] || []

        sharpFormInit(formDOM, idDOM, {
                originalFormData,
            p: [
                {
                    name: 'materialTypeList',
                    configurer: {
                        cpnType: 'MULTIPLE_SELECT',
                    }
                },
                {
                    name: 'category',
                    configurer: {
                        cpnType: 'SEARCH_SELECT',
                    }
                },
                {
                    name: 'birthday',
                    configurer: {
                        cpnType: 'DATE',

                    }
                },
                {
                    name: 'attachments',
                    configurer: {
                        cpnType: 'FILE'
                    }
                },
            ],
             readonly,
             actionUrl: '/students',
             method: "POST"
            },
            "student", () => {
            // 其他验证 + error 样式
            let valid = formDOM.validElse($("[name=hobbyList]:checked").length > 0, document.getElementById('hobbyList')) &
                formDOM.validElse($('[name=gender]:checked').length > 0, document.getElementById('gender')) &
                formDOM.validElse($('#materialTypeList').multipleSelect('getSelects').length > 0, document.getElementById('materialTypeList').nextSibling) &
                formDOM.validElse($('#category').multipleSelect('getSelects').length > 0 && $('#category').multipleSelect('getSelects')[0] != '', document.getElementById('category').nextSibling) &
                formDOM.validElse(form_attachments_file.getAttachments().length > 0, document.getElementById('btn-file')) &
                userRemoteDialogCodeInput.valid()
            return valid
        });

        let operatorNameDOM = document.getElementById("operatorName")
        let userRemoteDialogCodeInput = new CodeInput({
            id: 'operator-container',
            input: "code", // 显示的字段 name 显示姓名,
            // search: 'code, name', // 通过 sql 的 where 控制
            method: 'remote',
            remoteKey: "users",
            reportId: "786015805669142528", // 显示 search help
            blur: function(value) {
                operatorNameDOM.textContent = value.name
            },
            afterSetValue: function(value) {
                console.log('afterSetValue: ', value)
                operatorNameDOM.textContent = value.name
            },
            value: originalFormData.operator
        })
        operatorNameDOM.textContent = originalFormData.operator && originalFormData.operator.description

        // file uploadConsumer callback
        function form_attachments_file_uploadConsumer(attachments) {
            console.log("attachments = ", attachments)
            return true
        }

        // file deleteConsumer callback
        function form_attachments_file_deleteConsumer(attachmentId, deleteBtn) {
            console.log("attachmentId = ", attachmentId)
            console.log("deleteBtn = ", deleteBtn)
            return true
        }

        // image
        let imageUpload = new FileUpload("image_file", false, function uploadImage(attachments) {
            // 上传照片
            document.getElementById("avatar").src = attachments[0].url
            document.getElementById("avatar").setAttribute("value", attachments[0].id)
        }, function deleteImage(attachmentId, deleteBtn) {
            document.getElementById("avatar").src = '/img/default_avatar.png'
            document.getElementById("avatar").removeAttribute("value")
            $('.avatar-container .item .delete-btn').hide()
        });

        $('.avatar-container .item').hover(function () {
            document.getElementById("avatar").getAttribute("value") && $(this).find('.delete-btn').show()
        }, function () {
            $(this).find('.delete-btn').hide()
        })

        function send() {
            formDOM.save(null, formData => {
                // 添加其他的参数

                // code input
                formData.operator = userRemoteDialogCodeInput.getValue()
                // formData.operatorId = userRemoteDialogCodeInput.getValue().id
                // 多选
                formData.materialTypeList = $('#materialTypeList').multipleSelect('getSelects')
                // 文件
                formData.attachments = form_attachments_file.getAttachments()
                // 头像
                formData.avatar = imageUpload.getAttachments().length > 0 ? imageUpload.getAttachments()[imageUpload.getAttachments().length - 1] : null
            })
        }
    </script>
</th:block>
</body>
</html>