<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sp="">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/multiple-select/multiple-select.min.css}">
    <style>
        .form-check {
            display: inline-block!important;
        }
    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h1>外部 Form</h1>
                <form class="needs-validation dialog-form" id="form" name="form">
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-1 required">邮箱</label>
                        <div class="col-sm-11">
                            <input class="form-control" type="text" name="email" id="email" required>
                        </div>
                    </div>
                </form>
                <br>

                <h1>Form Tag</h1> <span th:text="${'readonly = ' +  query.readonly}"></span>
                    <h2>sys_user</h2>
                    <sp:form id="694980924206493696" form-page="tpl/form-tag" th:value="${formBO.instanceId}" show-btn reload-tab="form-tag" th:readonly="${query.readonly}"></sp:form>

                    <hr/>

                    <h2><h2>sys_user-tag</h2></h2>
                    <sp:form id="859875429241106432" form-page="tpl/form-tag" th:value="${formBO.instanceId}" show-btn reload-tab="form-tag" th:readonly="${query.readonly}"></sp:form>

<!--                    <sp:form id="694980924206493696"  form-page="tpl/form-tag" th:value="${formBO.instanceId}" show-btn reload-tab="form-tag" readonly="true"></sp:form>-->
<!--                    <sp:form id="694980924206493696"  form-page="tpl/form-tag" th:value="${formBO.instanceId}" show-btn reload-tab="form-tag"></sp:form>-->
                <hr>
                <button type="button" class="btn btn-primary" onclick="saveAllForm()">保存所有form</button>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script th:src="@{/js/form-support.js}"></script>
    <script th:src="@{/plugins/jquery.form2json.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script th:src="@{/plugins/multiple-select/multiple-select.min.js}"></script>

    <script th:src="@{/ajaxfileupload.js}"></script>
    <script type="text/javascript" th:src="@{/js/upload.js}"></script>
    <script th:src="@{/editable-table/editable-table.js}"></script>
    <script>
        let formDOM = document.getElementById("form");

        registerValid(formDOM);

        function saveAllForm() {
            // 保存 sharp form 的回调函数

            saveSharpForm("sys_user_form_tag")
            saveSharpForm("sys_user")

            // 手写
            // let valid = formDOM.valid() & sys_user_form_tagFormDOM.valid()
            // if (valid) {
            //     // console.log("get tag form data = ", sys_userFormData())
            //     console.log("get tag form data = ", sys_user_form_tagFormData())
            //
            //     // sys_userSaveForm((data) => {
            //     sys_user_form_tagSaveForm((data) => {
            //         // 获取 instance id
            //         console.log("data = ", data)
            //         // 执行外部方法的保存
            //         // TODO
            //         reloadTab('form-tag')
            //         // setTimeout(() => {
            //             // window.location.reload()
            //         // }, 1000)
            //         toastr.success("保存成功")
            //     })
            // }
        }

        function saveSharpForm(formCode) {
            let valid = formDOM.valid() & window[formCode + 'FormDOM'].valid()
            if (valid) {
                console.log("get tag form data = ", window[formCode + 'FormData']())
                window[formCode + 'SaveForm']((data) => {
                    // 获取 instance id
                    console.log("data = ", data)
                    // 执行外部方法的保存
                    reloadTab('form-tag')
                    // setTimeout(() => {
                    // window.location.reload()
                    // }, 1000)
                    toastr.success(formCode + " 保存成功")
                })
            }
        }
    </script>
</th:block>
</body>
</html>