<form class="form-horizontal sharp-form" th:classappend="${query.readonly == 'true' ? 'readonly' : ''}" th:action="'/forms/page/' + ${formBO.getActionUrl()}" method="post" th:id="${formBO.form.id}" th:name="${formBO.form.code}" th:with="required = ${new com.rick.formflow.form.valid.Required(true)}, col = ${(formBO.form.getAdditionalInfo() == null || formBO.form.getAdditionalInfo().get('label-col') == null) ? 2 : formBO.form.getAdditionalInfo().get('label-col')}">
    <input type="hidden" name="id" id="id" th:value="${formBO.instanceId}">
    <div class="nav-tabs-boxed">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" th:each="t : ${formBO.form.getAdditionalInfo().get('tab-list')}"><a class="nav-link" th:classappend="${tStat.index == 0 ? 'active': ''}" data-toggle="tab" th:href="${'#tab-' + (tStat.index + 1)}" role="tab" aria-selected="true" th:text="${t.class.name eq 'java.lang.String' ? t : t.label}" th:if="${t.class.name eq 'java.lang.String' ? true : (!t.hideIfAdd && formBO.instanceId == null || formBO.instanceId != null)}"></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" th:classappend="${i == 1 ? 'active': ''}" th:id="${'tab-' + i}" role="tabpanel" th:each="i: ${#numbers.sequence(1, formBO.form.getAdditionalInfo().get('tab-list').size())}">
                <div class="form-group row" th:classappend="${p.name}" th:if="${#strings.equals(p.configurer.getAdditionalInfo().get('tab-index'), #strings.toString(i))}" th:each="p : ${formBO.propertyList}" th:with="isRequired = ${p.configurer.validatorProperties.get('Required.required') eq null ? false : p.configurer.validatorProperties.get('Required.required')}">
                    <label th:for="${p.name}" th:class="${'col-form-label col-sm-' + col}" th:classappend="${isRequired ? 'required' : ''}" th:text="${p.configurer.label}"></label>
                    <div th:class="${'col-sm-' + (12 - col)}">
                        <label class="col-form-label"  th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).LABEL}" th:id="${p.name}" th:name="${p.name}" th:text="${( p.configurer.options.size() eq 0 || p.value == null) ? p.value : p.configurer.optionMap[p.value]}"></label>

                        <input th:disabled="${p.configurer.disabled == true || (p.name eq 'code' && formBO.instanceId != null)}" th:attr="pattern=${p.configurer.validatorProperties.get('CustomizeRegex.regex')}" th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).TEXT}" type="text" class="form-control" th:id="${p.name}" th:name="${p.name}" th:maxlength="${p.configurer.validatorProperties.get('Length.max')}"
                               th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                        <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).NUMBER_TEXT}" type="text" class="form-control" th:id="${p.name}" th:name="${p.name}" th:max="${p.configurer.validatorProperties.get('Size.max')}" th:min="${p.configurer.validatorProperties.get('Size.min')}"
                               th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}" pattern="-?\d+(\.\d+)?">

                        <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).INTEGER_NUMBER}" type="number" class="form-control" th:id="${p.name}" th:name="${p.name}" th:max="${p.configurer.validatorProperties.get('Size.max')}" th:min="${p.configurer.validatorProperties.get('Size.min')}"
                               th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                        <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).MOBILE}" type="text" class="form-control" th:id="${p.name}" th:name="${p.name}" maxlength="11" pattern="1[34578]\d{9}$"
                               th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                        <textarea th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).TEXTAREA}" class="form-control" th:id="${p.name}" th:name="${p.name}" th:maxlength="${p.configurer.validatorProperties.get('Length.max')}"
                                  th:placeholder="${p.configurer.placeholder}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}" th:text="${p.value}"></textarea>

                        <select th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).SELECT or p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).SEARCH_SELECT}" class="form-control" th:id="${p.name}" th:name="${p.name}"
                                th:placeholder="${p.configurer.placeholder}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">
                            <option th:each="option : ${p.configurer.options}" th:value="${option.name}" th:text="${option.label}" th:selected="${option.name eq p.value}"></option>
                        </select>

                        <sp:select th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).GROUP_SELECT}" th:id="${p.name}" class="form-control" th:name="${p.name}" th:attr="key=${p.configurer.datasource}" th:placeholder="${p.configurer.placeholder}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}" group/>

                        <sp:select th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).MULTIPLE_SELECT}" th:id="${p.name}" class="form-control" th:name="${p.name}" multiple th:attr="key=${p.configurer.datasource}" th:placeholder="${p.configurer.placeholder}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}" hideDummyItemText/>

                        <th:block th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).FILE}">
                            <sp:file th:attr="form-name=${formBO.form.code}" th:name="${p.name}" sp:value="${p.value}"></sp:file>

                            <!--/*
                            <div style="display: inline-block;">
                                <label class="btn btn-primary btn-sm btn-upload" style="margin: 2px" th:for="${p.name} + '_file'"><i class="fa fa-upload"></i> 上传</label>
                            </div>
                            <input style="display:none;" type="text" th:id="${p.name}" th:name="${p.name}" th:value="${p.value ne null ? T(com.rick.common.util.JsonUtils).toJson(p.value) : '[]'}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">
                            <input style="display: none;" type="file" multiple="multiple" th:id="${p.name} + '_file'" th:name="${p.name} + '_file'" data-group-name="attachments" th:onchange="[('window.'+ ${formBO.form.code} + '_' + ${p.name} + '_file.ajaxFileUpload()')]" th:placeholder="${p.configurer.placeholder}">
                            <div class="attachment-items">
                                <th:block th:if="${p.value ne null}">
                                    <div class="item" th:each="f : ${p.value}">
                                        <a th:text="${f.fullName}" th:href="${f.url}" target="_blank"></a><button type="button" class="btn btn-link attachment_delete_btn" th:onclick="[(${'window.' + formBO.form.code + '_' + p.name + '_file.deleteAttachment('})][[${f.id}]][(', this)')]">删除</button>
                                    </div>
                                </th:block>
                            </div>
                             */-->
                        </th:block>

                        <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).EMAIL}" type="email" class="form-control" th:id="${p.name}" th:name="${p.name}" th:maxlength="${p.configurer.validatorProperties.get('Length.max')}"
                               th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                        <!--                    <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).DATE}" type="date" class="form-control" th:id="${p.name}" th:name="${p.name}"-->
                        <!--                           th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">-->

                        <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).DATE}" type="text" class="form-control" th:id="${p.name}" th:name="${p.name}"
                               th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                        <div class="form-check col-form-label" th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).CHECKBOX}" th:each="option : ${p.configurer.options}">
                            <input class="form-check-input" type="checkbox" th:name="${p.name}" th:id="${option.name}" th:value="${option.name}" th:checked="${p.value ne null && #sets.contains(p.value, option.name)}" th:required="${p.configurer.options.size() eq 1 && isRequired}"
                                   th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">
                            <label class="form-check-label" th:for="${option.name}" th:text="${option.label}"></label>
                            <th:block th:if="${p.configurer.options.size() eq 1}">
                                <!--前端验证所有验证信息-->
                                <div class="invalid-feedback" th:each="v : ${p.configurer.validatorList}"
                                     th:text="${v.message}"></div>
                                <!--后端验证的错误信息-->
                                <!--                            <div class="invalid-feedback" th:if="${errors eq null ? false : (#maps.containsKey(errors, p.name) ? true : false)}" th:text="${errors.get(p.name).defaultMessage}"></div>-->
                            </th:block>
                        </div>

                        <div class="form-check col-form-label" th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).RADIO}" th:each="option : ${p.configurer.options}">
                            <input class="form-check-input" type="radio" th:name="${p.name}" th:id="${option.name}" th:value="${option.name}" th:checked="${option.name eq p.value}"
                                   th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">
                            <label class="form-check-label" th:for="${option.name}" th:text="${option.label}"></label>
                        </div>

                        <div th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).SWITCH}">
                            <label class="col-form-label switch switch-pill switch-primary">
                                <input class="switch-input" type="checkbox" th:name="${p.name}" th:checked="${'1' eq p.value}">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                        <table th:class="${p.name + ' table editable-table table-bordered table-responsive-sm table-sm'}"
                               th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).TABLE}" th:id="${p.name}" th:name="${p.name}">
                            <thead>
                            <tr>
                                <th th:each="c : ${p.configurer.getAdditionalInfo().get('columns')}"
                                    th:with="isRequired = ${c.validatorProperties.get('Required.required') eq null ? false : c.validatorProperties.get('Required.required')}">
                                    <label class="col-form-label" th:classappend="${isRequired ? 'required' : ''}" th:text="${c.label}"></label>
                                </th>
                                <th class="operator-label"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${p.value}">
                                <td th:each="col: ${row}">
                                    <input type="text" class="form-control" th:value="${col}">
                                </td>
                                <td class="operator btn-link">X</td>
                            </tr>
                            </tbody>
                        </table>

                        <th:block th:if="${p.configurer.cpnType ne T(com.rick.formflow.form.cpn.core.CpnTypeEnum).CHECKBOX &&
                    p.configurer.cpnType ne T(com.rick.formflow.form.cpn.core.CpnTypeEnum).FILE}">
                            <!--前端验证所有验证信息-->
                            <div class="invalid-feedback" th:each="v : ${p.configurer.validatorList}"
                                 th:text="${v.message}"></div>
                            <!--后端验证的错误信息-->
                            <!--                        <div class="invalid-feedback" th:if="${errors eq null ? false : (#maps.containsKey(errors, p.name) ? true : false)}" th:text="${errors.get(p.name).defaultMessage}"></div>-->
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row" th:if="${(formBO.form.getAdditionalInfo() == null || formBO.form.getAdditionalInfo().get('showSaveFormBtn') == null || formBO.form.getAdditionalInfo().get('showSaveFormBtn') == true)}">
        <div class="col-sm-12 mt-3">
            <button type="button" class="btn btn-primary btn-save" th:onclick="[(${formBO.form.code})]FormDOM.save()">保存</button>
        </div>
    </div>
</form>