<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .form-check {
            display: inline-block!important;
        }

        .attachment_delete_btn {
            position: absolute;
            top: 6px;
        }
    </style>
</head>
<body>
<div class="container" th:with="required = ${new com.rick.formflow.form.valid.Required(true)}, col = ${(formBO.form.getAdditionalInfo() == null || formBO.form.getAdditionalInfo().get('label-col') == null) ? 2 : formBO.form.getAdditionalInfo().get('label-col')}">
    <form class="needs-validation dialog-form" th:classappend="${query.readonly == 'true' ? 'readonly' : ''}" th:id="${formBO.form.id}" th:name="${formBO.form.code}" novalidate>
        <div class="form-group row" th:each="p : ${formBO.propertyList}" th:with="isRequired = ${p.configurer.validatorProperties.get('Required.required') eq null ? false : p.configurer.validatorProperties.get('Required.required')}">
            <label th:for="${p.name}" th:class="${'col-form-label col-sm-' + col}" th:classappend="${isRequired ? 'required' : ''}" th:text="${p.configurer.label}"></label>
            <div th:class="${'col-sm-' + (12 - col)}">
                <label class="col-form-label"  th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).LABEL}" th:text="${(p.configurer.options == null || p.value == null) ? p.value : p.configurer.optionMap[p.value]}"></label>

                <input th:attr="disabled=${(p.name eq 'code' || (p.name eq 'name' && formBO.form.code eq 'sys_dict')) && formBO.instanceId != null},pattern=${p.configurer.validatorProperties.get('CustomizeRegex.regex')}" th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).TEXT}" type="text" class="form-control" th:id="${p.name}" th:name="${p.name}" th:maxlength="${p.configurer.validatorProperties.get('Length.max')}"
                       th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).NUMBER_TEXT}" type="text" class="form-control" th:id="${p.name}" th:name="${p.name}" th:max="${p.configurer.validatorProperties.get('Size.max')}" th:min="${p.configurer.validatorProperties.get('Size.min')}"
                       th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}" pattern="-?\d+(\.\d+)?">

                <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).INTEGER_NUMBER}" type="number" class="form-control" th:id="${p.name}" th:name="${p.name}" th:max="${p.configurer.validatorProperties.get('Size.max')}" th:min="${p.configurer.validatorProperties.get('Size.min')}"
                       th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).MOBILE}" type="text" class="form-control" th:id="${p.name}" th:name="${p.name}" maxlength="11" pattern="1[34578]\d{9}$"
                       th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                <textarea th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).TEXTAREA}" class="form-control" th:id="${p.name}" th:name="${p.name}" th:maxlength="${p.configurer.validatorProperties.get('Length.max')}"
                          th:placeholder="${p.configurer.placeholder}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}" th:text="${p.value}"></textarea>

                <select th:attr="disabled=${(p.name eq 'type' && formBO.form.code eq 'sys_dict') && formBO.instanceId != null}" th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).SELECT}" class="form-control" th:id="${p.name}" th:name="${p.name}"
                        th:placeholder="${p.configurer.placeholder}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">
                    <sp:option dummyItemText th:if="${p.configurer.datasource != null}" th:attr="key=${p.configurer.datasource},group=${(p.configurer.getAdditionalInfo == null || p.configurer.getAdditionalInfo().get('group') == null) ? null : 'group'}" th:value="${p.value}"/>
                </select>

                <div th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).FILE}">
                    <input type="file" class="form-control" th:id="${p.name} + '_file'" th:name="${p.name} + '_file'" th:onchange="ajaxFileUpload([[${p.name}+ '_file']], [[${p.name}]])"
                           th:placeholder="${p.configurer.placeholder}" multiple>
                    <input type="text" style="display:none;" th:name="${p.name}" th:id="${p.name}" th:value="${p.value ne null ? T(com.rick.common.util.JsonUtils).toJson(p.value) : ''}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">
                    <!--前端验证所有验证信息-->
                    <div class="invalid-feedback" th:each="v : ${p.configurer.validatorList}"
                         th:text="${v.message}"></div>
                    <ul class="list-group list-group-flush">
                        <th:block th:if="${p.value ne null}">
                            <li class="list-group-item" th:each="f : ${p.value}">
                                <a th:text="${f.full_name}" th:href="${f.url}" target="_blank"></a><button type="button" class="btn btn-link attachment_delete_btn" th:onclick="deleteAttachment([[${p.name}]], [[${f.id}]], this)">删除</button>
                            </li>
                        </th:block>
                    </ul>
                </div>

                <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).EMAIL}" type="email" class="form-control" th:id="${p.name}" th:name="${p.name}" th:maxlength="${p.configurer.validatorProperties.get('Length.max')}"
                       th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                <!--                    <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).DATE}" type="date" class="form-control" th:id="${p.name}" th:name="${p.name}"-->
                <!--                           th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">-->

                <input th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).DATE}" type="text" class="form-control" th:id="${p.name}" th:name="${p.name}"
                       th:placeholder="${p.configurer.placeholder}" th:value="${p.value}" th:required="${isRequired}" th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">

                <div class="form-check col-form-label" th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).CHECKBOX}" th:each="option : ${p.configurer.options}">
                    <input class="form-check-input" type="checkbox" th:name="${p.name}" th:id="${option.name}" th:value="${option.name}" th:checked="${p.value ne null && #sets.contains(p.value, option.name)}" th:required="${p.configurer.options.size() eq 1 && isRequired}"
                           th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">
                    <label class="form-check-label" th:for="${option.name}" th:text="${option.label}"></label>
                    <th:block th:if="${p.configurer.options.size() eq 1}">
                        <!--前端验证所有验证信息-->
                        <div class="invalid-feedback" th:each="v : ${p.configurer.validatorList}"
                             th:text="${v.message}"></div>
                        <!--后端验证的错误信息-->
                        <!--                            <div class="invalid-feedback" th:if="${errors eq null ? false : (#maps.containsKey(errors, p.name) ? true : false)}" th:text="${errors.get(p.name).defaultMessage}"></div>-->
                    </th:block>
                </div>

                <div class="form-check col-form-label" th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).RADIO}" th:each="option : ${p.configurer.options}">
                    <input class="form-check-input" type="radio" th:name="${p.name}" th:id="${option.name}" th:value="${option.name}" th:checked="${option.name eq p.value}"
                           th:classappend="${errors eq null ? '' : (#maps.containsKey(errors, p.name) ? 'is-invalid' : 'is-valid')}">
                    <label class="form-check-label" th:for="${option.name}" th:text="${option.label}"></label>
                </div>

                <div th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).SWITCH}">
                    <label class="col-form-label switch switch-pill switch-primary">
                        <input class="switch-input" type="checkbox" th:name="${p.name}" th:checked="${'1' eq p.value}">
                        <span class="switch-slider"></span>
                    </label>
                </div>
                <table th:class="${p.name + ' table'}"
                       th:if="${p.configurer.cpnType == T(com.rick.formflow.form.cpn.core.CpnTypeEnum).TABLE}" th:id="${p.name}" th:name="${p.name}">
                    <thead>
                    <tr>
                        <th th:each="c : ${p.configurer.getAdditionalInfo().get('columns')}"
                            th:with="isRequired = ${c.validatorProperties.get('Required.required') eq null ? false : c.validatorProperties.get('Required.required')}">
                            <label class="col-form-label" th:classappend="${isRequired ? 'required' : ''}" th:text="${c.label}"></label>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row : ${p.value}">
                        <td th:each="col: ${row}">
                            <input type="text" class="form-control" th:value="${col}">
                        </td>
                        <td class="operator btn-link">X</td>
                    </tr>
                    </tbody>
                </table>

                <th:block th:if="${p.configurer.cpnType ne T(com.rick.formflow.form.cpn.core.CpnTypeEnum).CHECKBOX &&
                    p.configurer.cpnType ne T(com.rick.formflow.form.cpn.core.CpnTypeEnum).FILE}">
                    <!--前端验证所有验证信息-->
                    <div class="invalid-feedback" th:each="v : ${p.configurer.validatorList}"
                         th:text="${v.message}"></div>
                    <!--后端验证的错误信息-->
                    <!--                        <div class="invalid-feedback" th:if="${errors eq null ? false : (#maps.containsKey(errors, p.name) ? true : false)}" th:text="${errors.get(p.name).defaultMessage}"></div>-->
                </th:block>
            </div>
        </div>
        <div class="form-group row" th:if="${(formBO.form.getAdditionalInfo() == null || formBO.form.getAdditionalInfo().get('showSaveFormBtn') == null || formBO.form.getAdditionalInfo().get('showSaveFormBtn') == true)}">
            <label th:class="${'col-form-label col-sm-' + col}"></label>
            <div th:class="${'col-sm-' + (12 - col)}">
                <button type="button" class="btn btn-primary" onclick="saveForm()">保存</button>
            </div>
        </div>
    </form>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var readonly = [[${query.readonly}]]
        if (readonly === 'true') {
            $("form.readonly :input").prop("disabled", true);
            $('table .operator').hide()
            $('#okId').hide()
        } else {
            $('#okId').show()
        }
    })

    var p = [[${formBO.propertyList}]]
    var tables = p.filter(c => c.configurer.cpnType == 'TABLE')
    tables.forEach(c => {
        $('.' + c.name).editableTable({
            columns: c.configurer.additionalInfo.columns.length
        })
    })

    var dates = p.filter(c => c.configurer.cpnType == 'DATE')
    dates.forEach(c => {
        $('#'+c.name).datepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            todayBtn: 'linked',
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        })
    })

    /*]]>*/

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var form = document.querySelectorAll('.needs-validation')[0]

    // TODO 先执行前端验证，再执行后端验证
    form.addEventListener('submit', function (event) {
        if (!valid()) {
            event.preventDefault()
            event.stopPropagation()
        }
    }, false)


    /*<![CDATA[*/
    function saveForm(successCallback) {
        if (!valid()) {
            return
        }

        var formData = $('.dialog-form').form2json({
            multiValSelector: '[type=checkbox]'
        });

        tables.forEach(c => {
            formData[c.name] = $('.' + c.name).editableTable('getValue')
        })

        console.log(formData)

        $.ajax({
            url: "/forms/ajax/" + "[(${formBO.actionUrl})]",
            type: "[(${formBO.method})]",
            data: JSON.stringify(formData),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(){
                successCallback && successCallback()
            }
        });
    }
    /*]]>*/

    function valid() {
        var validity = form.checkValidity()
        form.classList.add('was-validated')
        return validity;
    }

    function ajaxFileUpload(fileElementId, fileHidden) {
        console.log(fileElementId)
        $.ajaxFileUpload
        (
            {
                url: '/documents/upload?name=' + fileElementId, //用于文件上传的服务器端请求地址
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: fileElementId, //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    var jsonString = $('#' + fileHidden).val()
                    if(!jsonString) {
                        jsonString = '[]'
                    }

                    var json = JSON.parse(jsonString);
                    $("#" + fileElementId).next("input[type=text]").val(JSON.stringify(json.concat(data.data)))

                    data.data.forEach(function (attachment) {
                        $('#' + fileElementId).siblings('ul').append("<li class=\"list-group-item\">\n" +
                            "<a href=\""+attachment.url+"\" target=\"_blank\">"+attachment.full_name+"</a><button type=\"button\" class=\"btn btn-link attachment_delete_btn\" onclick=\"deleteAttachment('"+fileElementId+"', "+attachment.id+", this)\">删除</button>\n" +
                            "</li>")
                    })

                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }

    function deleteAttachment(fileHidden, attachmentId, obj) {
        var jsonString = $('#' + fileHidden).val()
        if(jsonString) {
            var json = JSON.parse(jsonString);
            var filteredJson = json.filter(function (m) {
                return m.id !== attachmentId;
            })

            $('#' + fileHidden).val(JSON.stringify(filteredJson))
        }

        $(obj).parent().remove()

    }

</script>
</html>