<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sp="http://www.w3.org/1999/html">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>Combox & Tree</title>
	<link rel="stylesheet" href="../../../coreui/css/style.min.css">
	<link rel="stylesheet" th:href="@{/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css}">
<body>
<div class="card">
	<div class="card-body">
	<h1>服务端渲染</h1>
	<sp:select id="unit" name="unit" key="UNIT" class="form-control" th:value="${unit}"/>
	<sp:select id="category" name="category" key="CategoryEnum" class="form-control"  th:value="${category}"/>

	<hr/>

	<h1>Vue + ajax</h1>
		<!--批量获取数据源-->
		<!--批量获取数据源-->
	</div>
</div>
<script type="text/javascript">
</script>
</body>
</html>