<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminlte/layout.html}">
<th:block layout:fragment="content" th:fragment="content">
    <h1>About</h1>

    <!-- 约定：用 SO11231232323 作为参数 -->
    <a style="text-decoration: underline;" id="SO11231232323" hx-get="/adminlte/detail/SO11231232323" hx-push-url="true" hx-on:htmx:before-request="beforeRequest(event)" hx-target="#html"
    onclick="addHtmxTab(this)">SO11231232323-push-url
    </a>
    <br>
    <a style="text-decoration: underline;" id="SO11231232324" hx-get="/adminlte/detail/SO11231232323" hx-push-url="false" hx-on:htmx:before-request="beforeRequest(event)" hx-target="#html"
       onclick="addHtmxTab(this)">SO11231232324-not-push-url
    </a>

    <hr>
    <button onclick="addTab('SO11231232323', '/adminlte/detail/SO11231232323?a=1', 'addTab')">addTab</button>

    <button onclick="addDialog1()">addDialog1(全局)</button>
    <button onclick="addDialog2()">addDialog2(全局)</button>

    <br>
    <button onclick="openDrawerDialog('/adminlte/detail/SO11231232323A', 'about-dialog', false)">抽屉（多标签下独立,同标签下共享）</button><br>
    <button onclick="openDrawerDialog('/adminlte/detail/SO11231232323B', 'about-dialog', false)">抽屉（多标签下独立,同标签下共享）</button><br>
    <button onclick="openDrawerDialog('/adminlte/detail/SO11231232323C', 'about-dialog', false)">抽屉（多标签下独立,同标签下共享）</button>

    <div class="drawer-dialog" id="about-dialog">
        <div style="height: 50px; padding-right: 24px; background: #0c0e10; text-align: right;">
            <a style="line-height: 50px;" href="javascript:;" onclick="$(this).parents('.drawer-dialog').css('width', 0)";>X</a>
        </div>
        <div style="flex: 1; overflow: hidden;" class="drawer-content"></div>
    </div>

    <script>
        // console.log($) // $ is not defined
        document.addEventListener('DOMContentLoaded', () => {
            console.log($)
            // do some use jQuery
        });

        function addDialog1() {
            $.dialog({
                content: '<h1 style="color: red;">hello world</h1>'
            })
        }

        function addDialog2() {
            $.dialog({
                url: "/adminlte/detail/SO11231232323",
                class: 'container-search-btn modal-lg',
                ok: {
                    label: '确定',
                    success: function (dialog) {
                        console.log('success')
                        dialog.$modal.modal('hide')
                    }
                },
                hidden: function () {
                    console.log('hidden')
                }
            })
        }

    </script>
</th:block>
</html>