<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminlte/layout.html}">
<th:block layout:fragment="content" th:fragment="content" th:with="s=${#dates.createNow().time}">
    <link rel="stylesheet" th:href="@{/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
    <style>
        #auth ul {
            padding: 0;
            margin: 0;
        }
        #auth li {
            list-style: none;
            cursor: pointer;
        }

        #auth  .role-container li {
            padding: 0 12px;
            line-height: 35px;
        }

        #auth  li.active {
            background: var(--wp--preset--color--primary);
            color: #fff;
        }

        #auth .label {
            margin-bottom: 24px;
            font-weight: bold;
        }

        #auth .empty-text2 {
            font-size: 14px;
            color: #768192;
        }

        #auth .user-selected {
            padding: 5px 10px;
            border: 1px solid #c8ced3;
            border-radius: 4px;
            margin-bottom: 4px;
        }

        @media screen and (min-width: 768px) {
            #auth .user-selected {
                height: calc(100vh - 306px);
                overflow: auto;
            }

            #auth .role-container {
                border-right: 1px dashed #c8ced3;
            }

            #auth .permission-container {
                height: calc(100vh - 304px);
                margin-top: 4px;
                overflow: auto;
            }

            #auth .user-list-container, #auth .role-list-container {
                height: calc(100vh - 340px);
                overflow: auto;
                margin-top: 4px;
            }
        }

        @media screen and (max-width: 768px) {
            #auth .user-selected, #auth .keyword-input {
                margin-bottom: 15px;
            }
            #auth .label {
                border-bottom: 1px solid #23282c;
                line-height: 40px;
            }
        }



        #auth .warning-text {
            color: #f86c6b;
            font-size: .8em;
        }

        #auth .permissionListAll-container .role-delete-btn {
            margin-left: 10px;
        }

        #auth .permissionListAll-container, #auth  .role-modal-container {
            height: calc(100vh - 300px);
            overflow: auto;
        }

        #auth .role-modal-container li {
            margin-bottom: 4px;
        }

        #auth .status-false {
            color: #f86c6b;
        }

        #auth .status-true {
            color: #1da142;
        }
    </style>

    <div class="container-fluid" id="auth" x-data="authSetup" x-init="authInit">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 col-sm-12 role-container">
                        <div class="label">角色名称（<span x-text="datasource.roleList.length"></span>）<a href="javascript:;" data-bs-toggle="modal" data-bs-target="#roleModal">[编辑]</a></div>
                        <input class="form-control keyword-input" type="text" x-model="roleKeyword" placeholder="关键字" autocomplete="off">
                        <ul class="role-list-container">
                            <template x-for="r in filteredRoleList">
                                <li :class="{'active': form.roleId === r.id}" @click="changeRole(r)" x-text="r.name"></li>
                            </template>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="label">权限信息（<span x-text="datasource.roleInfo.permissionList.length"></span>）<a href="javascript:;" data-bs-toggle="modal" data-bs-target="#permissionModal">[编辑]</a></div>
                        <div class="permission-container">
                            <ul id="permissionList" class="ztree"></ul>
                            <template x-if="datasource.roleInfo.permissionList.length === 0">
                            <div class="empty-text2">没有权限数据</div>
                            </template>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="user-container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="label">授权人员（<span x-text="form.userIds.length"></span>人）</div>
                                    <div class="user-selected">
                                        <ul class="clearfix">
                                            <template x-for="user in userSelectedList">
                                            <li @click="removeUser(user.id)">
                                                <span x-text="user.name + '('+ user.code + ')'"></span>
                                            </li>
                                            </template>
                                        </ul>
                                        <div class="empty-text2" x-show="form.userIds.length === 0">没有人员数据</div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <div style="height: 28px; line-height: 28px; margin-bottom: 12px;">
                                            <label class="pull-left"><input type="checkbox" x-model="showSelectedUser" style="margin-right: 8px;">仅显示授权人员</label>
                                            <button class="btn btn-primary pull-right btn-sm" @click="save"> 保存</button>
                                            <span x-cloak class="text-danger pull-right" x-show="isNeedSave" style="line-height: 28px; margin-right: 4px;">授权人员发生变更尚未保存</span>
                                        </div>
                                        <input class="form-control keyword-input" type="text" x-model="keyword" placeholder="关键字" autocomplete="off">
                                        <div class="user-list-container card-body-scroll-panel">
                                            <table class="table table-sm">
                                                <tbody>
                                                <template  x-for="user in datasource.userList">
                                                <tr x-show="filterUser(user)">
                                                    <td><input type="checkbox" x-model="form.userIds" :value="user.id"></td>
                                                    <td x-text="user.username"></td>
                                                    <td><span x-text="user.name" @click="checkBoxUser(user.id)" style="cursor: pointer;"></span></td>
                                                    <td><span :class="'status-' + user.available" x-text="userStatusFilter(user.available)"></span></td>
                                                    <td align="right"><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#userPermissionModal" @click="viewUserPermission(user.id)">查看权限</a>&nbsp;|&nbsp;<a href="javascript:;" @click="resetPassword(user)">密码重置</a></td>
                                                </tr>
                                                </template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="roleModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">角色编辑</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="role-modal-container">
                                <table class="table table-responsive-sm table-bordered table-sm">
                                    <thead>
                                    <tr>
                                        <th style="width: 30px"></th>
                                        <th>角色名</th>
                                        <th style="width: 50px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template x-for="(r, index) in form2.roleList" :key="index">
                                        <tr>
                                            <td style="vertical-align: middle; text-align: center"><a href="javascript:;" @click="roleUp(index)"><i class="fa fa-arrow-up"></i></a></td>
                                            <td><input class="form-control" type="text" x-model="r.name"></td>
                                            <td style="vertical-align: middle;"><a href="javascript:;" @click="form2.roleList.splice(index, 1)">X</a></td>
                                        </tr>
                                    </template>
                                    <tr style="text-align: center">
                                        <td colspan="3" style="padding: 12px 0;">
                                            <button class="btn btn-secondary mr-2 btn-sm" type="button" @click="form2.roleList.push({})">
                                                <i class="fa fa-plus"></i> 新增</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="saveRoleBtn" @click="saveRole"><i class="fa fa-save"></i> 保存</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="permissionModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">权限编辑</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="permissionListAll-container">
                            <ul id="permissionListAll" class="ztree"></ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="savePermissionBtn"><i class="fa fa-save"></i> 保存</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="userPermissionModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">用户权限</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-1" type="button" role="tab" aria-controls="home-1" aria-selected="true">权限</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#roleListAll-container" type="button" role="tab" aria-controls="roleListAll-container" aria-selected="false">角色</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <div class="show-permission-empty empty-text" id="userPermissionEmpty">
                                没有权限数据
                            </div>
                            <div class="permissionListAll-container" id="permissionListAll-container">
                                <ul id="userPermissionListAll" class="ztree"></ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="roleListAll-container" role="tabpanel" aria-labelledby="profile-tab" tabindex="0" x-data="roleListAllContainerSetup">
                            <template x-if="roles.length === 0">
                            <div class="show-permission-empty empty-text">
                                没有角色数据
                            </div>
                            </template>
                            <div class="permissionListAll-container" v-else>
                                <template x-for="r in roles">
                                    <div class="role-item"><span x-text="r.name"></span><a class="role-delete-btn" href="javascript:;" @click="removeRole(r.id)">删除</a></div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/plugins/zTree_v3/js/jquery.ztree.core.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/zTree_v3/js/jquery.ztree.excheck.min.js}"></script>
    <script th:inline="javascript">
        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            }
        };

        var setting2 = {
            check: {
                enable: true,
                chkboxType: { "Y" : "ps", "N" : "ps" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };

        var treeObj;

        /**
         * 同步到操作树
         */
        function setChecked(permissionList) {
            treeObj.checkAllNodes(false)
            permissionList.forEach(function (node) {
                treeObj.checkNode(treeObj.getNodeByParam("id", node.id, null), true, false);
            })
        }
    </script>
    <script th:inline="javascript">
        // 初始化
        var permissionList = /*[[${roleInfo.permissionList}]]*/
        var permissionFullList = /*[[${permissionFullList}]]*/
        var roleListAllContainerElemData
        var authElemData

        window.s = 'load' + /*[(${s})]*/
        window[s] = function () {
            treeObj = $.fn.zTree.init($("#permissionListAll"), setting2, permissionFullList);
            $.fn.zTree.init($("#permissionList"), setting, permissionList);
            setChecked(permissionList);

            var permissionFullListMap = _.keyBy(permissionFullList, function(o) {
                return o.id
            });

            //
            var $userPermissionModal = $('#userPermissionModal')

            authElemData = Alpine.$data(document.getElementById('auth'));
            roleListAllContainerElemData  = Alpine.$data(document.getElementById('roleListAll-container'));

            $('#savePermissionBtn').on('click', function () {
                var nodes = treeObj.getCheckedNodes();

                var permissionIds = _.map(nodes, "id");

                var permissionList = []

                $.post("/auth/assign/role/" + authElemData.form.roleId + "/permission", {"permissionIds": permissionIds}, function () {
                    nodes.forEach(function (node) {
                        permissionList.push(permissionFullListMap[node.id])
                    })
                    $.fn.zTree.init($("#permissionList"), setting, permissionList)

                    authElemData.datasource.roleInfo.permissionList = permissionList

                    $('#permissionModal').modal('hide');
                    toastr.success('权限编辑成功')
                })
            })

            delete window.s
        }

        function roleListAllContainerSetup() {
            return {
                userId: undefined,
                roles: [],
                removeRole: function (roleId) {
                    var _this = this

                    confirm('确定删除用户的角色吗？') && $.post("auth/assign/role/"+roleId+"/"+this.userId+"", function (res) {
                        toastr.success('用户角色删除成功');
                        _this.roles = _.filter(_this.roles, function (r) {
                            return r.id !== roleId
                        })
                    })

                }
            }
        }

        function authSetup() {
            return {
                currentRole: /*[[${roleList[0]}]]*/,
                datasource: {
                    roleList: /*[[${roleList}]]*/,
                    userList: /*[[${userList}]]*/,
                    userSelectedList: /*[[${roleInfo.userList}]]*/,
                    roleInfo: /*[[${roleInfo}]]*/
                },
                form: {
                    roleId:  [[${roleList[0].id}]],
                    userIds: /*[[${userIds}]]*/
                },
                form2: {
                    roleList: [],
                },
                keyword: '',
                roleKeyword: '',
                showSelectedUser: false,
                isNeedSave: false,

                // 计算属性 (使用getter)
                get userSelectedList() {
                    this.isNeedSave = !((_.difference(this.dsUserSelectedList, this.form.userIds).length == 0) &&
                        this.dsUserSelectedList.length == this.form.userIds.length);

                    const _this = this;
                    return _.filter(this.datasource.userList, function (user) {
                        return _this.form.userIds.includes(user.id);
                    });
                },

                get dsUserSelectedList() {
                    return _.map(this.datasource.userSelectedList, 'id');
                },

                get filteredRoleList() {
                    const roleKeyword = this.roleKeyword;

                    if (!roleKeyword || !roleKeyword.trim()) {
                        return this.datasource.roleList;
                    }
                    return _.filter(this.datasource.roleList, function(r) {
                        return r.name.toLowerCase().indexOf(roleKeyword.toLowerCase()) > -1;
                    });
                },

                // 过滤器函数
                userStatusFilter(val) {
                    return val === false ? '停用' : '启用';
                },

                // 方法
                changeRole(role) {
                    if (this.isNeedSave && !confirm("授权对象发生变更尚未保存，确定要离开？"))
                        return;

                    const id = role.id;
                    this.currentRole = role;
                    this.form.roleId = id;
                    const _this = this;

                    $.get("/auth/" + id + "/info", function (res) {
                        _this.datasource.roleInfo = res.data;
                        _this.datasource.userSelectedList = res.data.userList;
                        _this.form.userIds = _.map(res.data.userList, "id");

                        $.fn.zTree.init($("#permissionList"), setting, res.data.permissionList);
                        setChecked(res.data.permissionList);
                    });
                },

                checkBoxUser(userId) {
                    if (this.form.userIds.includes(userId)) {
                        this.removeUser(userId);
                    } else {
                        this.form.userIds.push(userId);
                    }
                },

                removeUser(userId) {
                    this.form.userIds = this.form.userIds.filter(function (id) {
                        return id !== userId;
                    });
                },

                resetPassword(user) {
                    if (confirm('确定重置用户「' + user.code + ' ' + user.name + '」的密码为「111111」吗？')) {
                        $.post("password/" + user.id + "/reset", function (res) {
                            layer.alert('密码重置成功！新的密码是' + res.data + '<br>请通知用户及时修改密码！');
                        });
                    }
                },

                save() {
                    if (!this.isNeedSave) {
                        toastr.success('保存成功');
                        return;
                    }

                    const _this = this;
                    $.post("/auth/assign/role/" + this.form.roleId + "/user",
                        {"userIds": this.form.userIds},
                        function () {
                            _this.datasource.userSelectedList = _.cloneDeep(_this.userSelectedList);
                            toastr.success('保存成功');
                        });
                },

                roleUp(index) {
                    let prevIndex = index - 1;
                    let curIndex = index;

                    if (index === 0) {
                        prevIndex = this.form2.roleList.length - 1;
                        curIndex = 0;
                    }

                    const curRole = this.form2.roleList[index];
                    const prevRole = this.form2.roleList[prevIndex];

                    // Alpine.js 中直接修改数组
                    this.form2.roleList[prevIndex] = curRole;
                    this.form2.roleList[curIndex] = prevRole;
                },

                saveRole() {
                    if (!this._check()) {
                        toastr.error('角色名称不能为空!');
                        return;
                    }

                    const _this = this;
                    $.ajax({
                        method: 'POST',
                        url: '/auth/add/roles',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(this.form2.roleList),
                        success: function (res) {
                            if (res.success) {
                                _this.datasource.roleList = res.data;
                                _this._normalizeRoleFormData();
                                $('#roleModal').modal('hide');
                                toastr.success('角色编辑成功');
                            } else {
                                toastr.error(res.msg);
                            }
                        }
                    });
                },

                viewUserPermission(userId) {
                    $.get('/auth/permission', {"userId": userId}, function (res) {
                        const permissionAllList = res.data.permissionList;
                        const roleAllList = res.data.roleList;

                        // 处理权限
                        if (permissionAllList.length < 1) {
                            $('#userPermissionEmpty').show();
                            $('#permissionListAll-container').hide();
                        } else {
                            $('#userPermissionEmpty').hide();
                            $.fn.zTree.init($("#userPermissionListAll"), setting, permissionAllList);
                            $('#permissionListAll-container').show();
                        }

                        roleListAllContainerElemData.roles = roleAllList;
                        roleListAllContainerElemData.userId = userId;
                    });
                },

                filterUser(user) {
                    const keywordMatched = !this.keyword ||
                        (user.username && user.username.toLowerCase().indexOf(this.keyword.toLowerCase()) > -1) ||
                        (user.name && user.name.toLowerCase().indexOf(this.keyword.toLowerCase()) > -1);

                    if (!keywordMatched)
                        return false;

                    if (this.showSelectedUser && this.form.userIds.includes(user.id))
                        return true;
                    else if (!this.showSelectedUser)
                        return true;

                    return false;
                },

                _check() {
                    for (let i = 0; i < this.form2.roleList.length; i++) {
                        const name = this.form2.roleList[i].name;
                        if (!name || !name.trim()) {
                            return false;
                        }
                    }
                    return true;
                },

                _normalizeRoleFormData() {
                    this.form2.roleList = [];
                    const _this = this;
                    this.datasource.roleList.forEach(function (r) {
                        _this.form2.roleList.push({
                            name: r.name,
                            id: r.id
                        });
                    });

                    // 默认选中管理员
                    if (this.datasource.roleList.length > 0 &&
                        this.currentRole.id !== this.datasource.roleList[0].id) {
                        this.changeRole(this.datasource.roleList[0]);
                    }
                }
            }
        }

        function authInit() {
            this._normalizeRoleFormData();
        }
    </script>
</th:block>
</html>