<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{demos/htmx/layout.html}">
<th:block layout:fragment="content" th:fragment="content" th:with="s=${#dates.createNow().time}">
    <div class="container-fluid" th:id="${'container' + s}">
        <!-- HTML write below-->
        <h1>DEMO page</h1>
    </div>

    <script th:inline="javascript">
        window.s = 'load' + /*[(${s})]*/;
        window[s] = function () {
            // js write below
            console.log('loading...')

            delete window.s
        }
    </script>
</th:block>
</html>