<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{demos/htmx/layout.html}">
<th:block layout:fragment="content" th:fragment="content">
    <style>
        /*[(${formBO.form.getAdditionalInfo['css'] == null ? '' : formBO.form.getAdditionalInfo['css']})]*/
    </style>
    <div class="container">
        <th:block th:replace="tpl/includes/horizotal-form"></th:block>
    </div>
    <script th:inline="javascript">
        var formBO = /*[[${ formBO }]]*/
        var originalFormData = /*[[${ formBO.data }]]*/
        var formCode = /*[[${formBO.form.code}]]*/
        var p = [[${formBO.propertyList}]]

        var hasAuthority = false
        /*[# sec:authorize="${hasAuthority(#vars.formBO.form.code + '_edit') or hasAuthority(#vars.formBO.form.code + '_delete') }"]*/
        hasAuthority = true
        /*[/]*/
        var readonly = !hasAuthority || JSON.parse([[${query.readonly}]])

        var formDOM = window[formCode + 'FormDOM'] = document.getElementsByClassName("sharp-form")[0]
        var idDOM = $(formDOM).find("#id")[0]

        sharpFormInit(formDOM, idDOM, {originalFormData, formCode, p, readonly: [[${query.readonly}]], actionUrl: formBO.actionUrl, method: formBO.method}, null, null);
        /*[(${formBO.form.getAdditionalInfo['js'] == null ? '' : formBO.form.getAdditionalInfo['js']})]*/
    </script>
</th:block>
</html>