<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Sharp Admin</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/plugins/toastr/toastr.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/multiple-select/multiple-select.min.css}">
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

      .layout {
        display: flex;
        flex-direction: column;
          height: 100vh;
      }

      #html {
         position: relative;
         flex: 1;
      }

      .title {
        height: 50px;
          line-height: 50px;
        background-color: #0c0e10;
        color: #FFFFFF;
      }

      .bottom {
        display: flex;
          flex: 1;
      }

      .side-left {
        width: 200px;
          background-color: #af4040;
      }

      .side-right {
          display: flex;
          flex: 1;
          flex-direction: column;
          background-color: #0b4d75;
          overflow: hidden;
      }

     /*tab style*/

    #tab {
        background-color: #e3e3c7;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
    }

    #tab ul {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #tab ul li {
        position: relative;
        float: left;
        height: 100%;
        padding: 0 24px 0 16px;
        margin-right: 16px;
        list-style: none;
        }

        #tab li a {
            display: inline-block;
            max-width: 150px;

            word-break: keep-all;
            overflow: hidden;
        }
    #tab li.active {
        background-color: yellow;
    }
    .tab-remove-icon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .drawer-dialog {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 0;
        right: 0;
        top: 0;
        background: red;
        transition: width .2s ease;
    }
    </style>
</head>
<body>
<div class="layout">
  <div class="title">
      <div style="display: inline-block; height: 30px; width: 30px; border-radius: 50%; background: #20a8d8; text-align: center; line-height: 30px; color: #fff; font-size: 12px;" th:text="${session.user.imgName}"></div>
      <span class="visible-md" style="margin-right: 4px;" sec:authentication="name"></span>
      <span class="visible-md" th:if="${user != null}" th:text="${user.name}"></span>
      <span class="ml-2" th:text="${T(com.rick.admin.common.AppConfigHolder).version}"></span>
      <a style="margin-left: 16px; color: #fff;" th:href="|javascript:location.href=mergeUrlQueryObject('multiTab=${!session.multiTab}')|">layout模式</a>
  </div>
  <div class="bottom">
    <div class="side-left">
      <ul>
        <li><a id="index" hx-get="/demos/htmx/index" hx-push-url="true" hx-on:htmx:before-request="beforeRequest(event)" hx-target="#html">Index</a></li>
        <li><a id="about" hx-get="/demos/htmx/about" hx-push-url="true" hx-on:htmx:before-request="beforeRequest(event)" hx-target="#html" >About</a></li>
        <li><a id="demo" hx-get="/demos/htmx/demo" hx-push-url="true" hx-on:htmx:before-request="beforeRequest(event)" hx-target="#html" >Demo</a></li>
        <li><a id="dict" hx-get="/reports/htmx/964844123011960832" hx-push-url="true" hx-on:htmx:before-request="beforeRequest(event)" hx-target="#html" >字典管理</a></li>
<!--        <li><a id="dict-type" hx-get="/reports/htmx/964844123011960832?type=UNIT" hx-push-url="true" hx-on:htmx:before-request="beforeRequest(event)" hx-target="#html" >字典管理UNIT</a></li>-->
      </ul>
    </div>

      <div class="side-right">
          <div id="tab" x-data="setup" x-init="init" th:if="${session.multiTab}">
              <ul>
                  <template x-for="tab in tabs">
                      <li :class="{active: tab.active}"><a :id="tab.id" :href="tab.path" :title="tab.name" :hx-target="'#' + tab.id + '-container'" :hx-get="tab.path" hx-push-url="true" hx-on:htmx:before-request="beforeRequest(event)" x-text="tab.name" @click="tab.showCurrentTab.bind(tab)"></a><span class="tab-remove-icon" href="javascript:;" @click="tab.remove.bind(tab)">x</span></li>
                  </template>
              </ul>
              <div style="clear: left;"></div>
          </div>
          <div id="html">
              <div layout:fragment="content" th:if="${!session.multiTab}"></div>

              <!-- 服务端渲染，如何服务端没有渲染，js 会再次请求后端，demos/htmx/index/tab-a 会定位到第三层路由 -->
              <th:block th:if="${session.multiTab}">
              <div th:if="${#request.servletPath.indexOf('/demos/htmx/index') > -1 }" id="index-tab-container" target-id="index-tab"><div layout:fragment="content"></div></div>
              <!--          <div th:if="${#request.servletPath == '/demos/htmx/index/tab-a'}" id="index-container"><div layout:fragment="content"></div></div>-->
              <!--          <div th:if="${#request.servletPath == '/demos/htmx/index/tab-b'}" id="index-container"><div layout:fragment="content"></div></div>-->
              <div th:if="${#request.servletPath == '/demos/htmx/about'}" id="about-tab-container" target-id="about-tab"><div layout:fragment="content"></div></div>

              <div th:if="${#request.servletPath == '/reports/htmx/964844123011960832'}" id="dict-tab-container" target-id="dict-tab"><div layout:fragment="content"></div></div>
<!--              <div th:if="${#request.servletPath == '/reports/htmx/964844123011960832?type=UNIT'}" id="dict-type-tab-container" target-id="dict-type-tab"><div layout:fragment="content"></div></div>-->
              </th:block>

          </div>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Include Axios from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js" integrity="sha512-FPlUpimug7gt7Hn7swE8N2pHw/+oQMq/+R/hH/2hZ43VOQ+Kjh25rQzuLyPz7aUWKlRpI7wXbY6+U3oFPGjPOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script th:src="@{/plugins/loadingoverlay.min.js}"></script>
<script th:src="@{/plugins/toastr/toastr.min.js}"></script>

<script th:src="@{/coreui/vendors/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/js/table/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.form2json.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery.formautofill.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script th:src="@{/plugins/multiple-select/multiple-select.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/jquery.pageTable.js}"></script>-->

<script th:src="@{/js/jquery.dialog.js}"></script>
<script th:src="@{/js/download.js}"></script>
<script type="text/javascript" th:src="@{/js/form-support.js}"></script>

<script>
    htmx.on("htmx:configRequest", function(evt) {
        evt.detail.headers['X-Requested-With'] = 'XMLHttpRequest';
    });

    document.addEventListener('htmx:responseError', evt => toastr.error(evt.detail.xhr.responseText))

    // Add a request interceptor
    axios.interceptors.request.use(function (config) {
        // Do something before request is sent
        console.log('before request....');
        $.LoadingOverlay("show");
        config.headers['Custom-Header'] = 'CustomValue'; // Example of adding a custom header
        return config;
    }, function (error) {
        // Do something with request error
        console.log(error)
        toastr.error(error.message);
        return Promise.reject(error);
    });

    // Add a response interceptor
    axios.interceptors.response.use(function (response) {
        // Any status code that lie within the range of 2xx cause this function to trigger
        // Do something with response data
        console.log('after response....', response);
        $.LoadingOverlay("hide");
        if (response.data && response.data.success === false) {
            toastr.error(response.data.message);
        }
        return response;
    }, function (error) {
        // Any status codes that falls outside the range of 2xx cause this function to trigger
        // Do something with response error
        console.log('after response....');
        $.LoadingOverlay("hide");
        toastr.error(error.response?.data ? (error.response.data.message ? error.response.data.message : error.response.data.error) : error.message);
        return Promise.reject(error);
    });

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    document.addEventListener('DOMContentLoaded', () => {
        // Re-select your 'a' elements here
        const linkNodes = document.querySelectorAll('a'); // Selects all <a> tags

        if (linkNodes.length > 0) {
            console.log("Link nodes re-selected:", linkNodes);
            // Now you can safely use linkNodes, e.g., iterate over them
            linkNodes.forEach(link => {
                // Add event listeners, modify attributes, etc.
                // console.log(link.href);
            });
        } else {
            console.log("No <a> elements found on the page.");
        }
    });

    function getPathname(url) {
        const indexOfQuestionMark = url.indexOf('?');

        if (indexOfQuestionMark !== -1) { // 确保找到了问号
            return url.substring(0, indexOfQuestionMark)
        }

        return url;
    }

    function getSearchString(url) {
        const indexOfQuestionMark = url.indexOf('?');

        let queryString = '';
        if (indexOfQuestionMark !== -1) { // 确保找到了问号
            queryString = url.substring(indexOfQuestionMark);
        }

        return queryString
    }

    const linkNodes = document.querySelectorAll(".side-left li a")
    const links = []
    for (let linkNode of linkNodes) {
        links.push({
            id: linkNode.id,
            path: getPathname(linkNode.getAttribute("hx-get")),
            name: linkNode.innerText,
        });

        linkNode.addEventListener('click',
            function (event) {
                if (typeof addHtmxTab !== 'undefined') {
                    addHtmxTab(event.target)
                } else {
                    event.target.preventRequest = location.pathname.indexOf(event.target.getAttribute("hx-get")) > -1 ? true : false
                }
            })
    }

    function beforeRequest(event) {
        if (event.target.preventRequest) {
            event.preventDefault()
        }
    }

    function openLink(...args) {
        if (args.length === 1) {
            const param = args[0];
            if (typeof addHtmxTab !== 'undefined') {
                // elem
                addHtmxTab(param);
            } else {
                // path: /demos/html/index
                fetchTargetContainer(param, "html")
            }
        } else if (args.length === 3) {
            const [id, path, name] = args; // Destructure the arguments
            if (typeof addTab !== 'undefined') {
                addTab(id, path, name);
            } else {
                fetchTargetContainer(path, "html")
            }
        } else {
            console.warn("openLink called with an unsupported number of arguments.");
        }
    }

    function openDrawerDialog(url, dialogId, pushUrl = true) {
        fetchTargetContainer(url, $("#"+dialogId+" .drawer-content")[0], pushUrl);
        document.getElementById(dialogId).style.width = "600px";
    }

    /**
     * @param obj id or elem
     * @param url
     */
    function closeDrawerDialog(param, url) {
        if (typeof param === "string") {
            document.getElementById(param).style.width = "0px";
        } else {
            param.parentNode.parentNode.style.width = "0"
        }
        url && history.pushState(null, '', url)
    }

    function fetchTargetContainer(url, containerId, pushUrl = true) {
        let elem;
        if (isDOMElement(containerId)) {
            elem = containerId
        } else {
            elem = document.getElementById(containerId)
        }

        axios.get(url)
            .then(function(response) {
                $(elem).html(response.data)
                pushUrl && history.pushState(null, '', url)
            })
            .catch(function(error) {
                console.error('Error fetching data:', error);
                elem.innerHTML = "Error fetching data"
            });
    }

    function reloadTab(id) {
        console.log('reloadTab = ', id)
    }

    function isDOMElement(obj) {
        return typeof obj === 'object' && obj !== null && obj instanceof Element;
    }
</script>
<!--url 工具函数-->
<script>
    /**
     * 合并查询参数，并查询
     * @param queryString
     */
    function search(queryString) {
        $.LoadingOverlay("show");
        location.href = location.pathname + mergeUrlQueryObject(queryString)
    }
    /**
     * 合并查询参数
     * @param queryString
     * @returns {string}
     */
    function mergeUrlQueryObject(queryString) {
        if (typeof queryString === 'object') {
            queryString = $.param(queryString)
        }
        let mergedQueryString = {}
        $.extend(mergedQueryString, getCurrentUrlQueryObject(), getUrlQueryObject(queryString));
        return "?" + $.param(mergedQueryString);
    }

    /**
     * 获取当前浏览器的查询参数
     * @returns {{}|any}
     */
    function getCurrentUrlQueryObject() {
        let search = location.search.substring(1);

        if (!search) {
            return {}
        }
        return JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g,'":"') + '"}', function(key, value) { return key===""?value:decodeURIComponent(value) })
    }

    /**
     * 将查询参数传成对象
     * @param queryString
     * @returns {{}}
     */
    function getUrlQueryObject(queryString) {
        let queryObject = {}

        if (!queryString)
            return queryObject

        let params = queryString.split('&');
        params.forEach(function(item) {
            let data = item.split('=')
            if (data.length === 2)
                queryObject[data[0]] = decodeURIComponent(data[1].replace(/[+]/g, ' '))
        })
        return queryObject
    }
</script>
<!-- 多标签-->
<script th:if="${session.multiTab}">
    const tabElem = document.getElementById("tab")
    const htmlElem = document.getElementById("html")
    const TAB_ITEMS_KEY = 'tabs'
    let activeId;
    let tabElemData

    // 合并非菜单的 tab
    // links.push({
    //     id: "SO11231232323",
    //     path: "/demos/htmx/detail/SO11231232323",
    //     name: "SO11231232323",
    // });

    // 当前访问 url 加入到 links(得到的 id 可能是数字，会出现异常，纯数字不能作为属性值)
    if (!links.map(link => link.path).find(path => getPathname(path) === location.pathname)) {
        const id = location.pathname.split('/').pop().split('?')[0];
        links.push({
            id: (!isNaN(id) && id.trim() !== '') ? "tab-" + id : id,
            path: location.pathname + location.search,
            name: id
        });
    }

    function setup() {
        return {
            tabs: [
                // {
                //     id:"about",
                //     path: "/2332/2",
                //     name: "world"
                // }
            ]
        }
    }

    function init() {
        tabElemData = Alpine.$data(tabElem);
        let hashpath = location.pathname + location.search
        for (let link of links) {
            if (hashpath.indexOf(link.path) > -1) {
                let tabs = sessionStorage.getItem(TAB_ITEMS_KEY)
                if (tabs) {
                    tabs = JSON.parse(tabs)
                    for (let tab of tabs) {
                        if (tab.id !== link.id)
                            _addTab(tab.id, tab.path, tab.name, containerId => {
                                let elem = Array.from(linkNodes).find(node => node.id + "-tab" === tab.id)
                                elem && elem.setAttribute('hx-target', '#' + containerId)
                            });
                    }
                }

                _addTab(link.id + "-tab", hashpath, link.name, containerId => {
                    let elem = Array.from(linkNodes).find(node => node.id === link.id)
                    elem && elem.setAttribute('hx-target', '#' + containerId)
                });

                // 如果没有加载(非 服务渲染)，运行 click()，重新请求，如果有三层路由，比如 htmx/index/tab-a htmx/index/tab-b，需要进行服务器渲染
                let container = document.querySelector("[target-id="+link.id+"-tab]")
                if (!container.children.length) {
                    tabElemData.$nextTick(() => {
                        // document.getElementById(link.id + "-tab").click()
                        htmx.trigger("#" + link.id + "-tab", 'click')
                    });
                }

                return
            }
        }
    }

    document.addEventListener('alpine:initialized', function () {
    });

    function addHtmxTab(elem) {
        let tabId = elem.id + "-tab"
        elem.preventRequest = false
        let tab = tabElemData.tabs.find(tab => tab.id === tabId)
        if (tab) {
            let container = document.querySelector("[target-id="+tab.id+"]")
            if (container.children.length) {
                elem.preventRequest = true;
                activeTab(tabId);
                return
            }
        }

        _addTab(tabId, elem.getAttribute("hx-get"), elem.innerText, containerId => elem.setAttribute('hx-target', '#' + containerId));
    }

    function addTab(id, path, name) {
        _addTab(id, path, name, containerId => {
            fetchTargetContainer(path, containerId)
        })
    }

    function _addTab(id, path, name, callback) {
        let containerId = id + "-container"

        !document.getElementById(containerId) && htmlElem.append(createHtmlDiv(id, containerId))

        callback && callback(containerId)

        !tabElemData.tabs.find(tab => tab.id === id) && tabElemData.tabs.push({
            id: id,
            path: path,
            name: name,
            showCurrentTab(event) {
                event.preventDefault()

                event.target.preventRequest = false
                let container = document.querySelector("[target-id="+id+"]")
                if (container.children.length)
                    event.target.preventRequest = true

                activeTab(id, path)
            },
            remove() {
                removeTab(id)
            }
        })

        activeTab(id, path);

        sessionStorage.setItem(TAB_ITEMS_KEY, JSON.stringify(tabElemData.tabs));
    }

    function removeTab(id) {
        if (tabElemData.tabs.length === 1) {
            alert("至少保留一个标签")
            return
        }

        tabElemData.tabs = tabElemData.tabs.filter(tab => tab.id !== id)
        document.querySelector("[target-id="+id+"]").remove()
        sessionStorage.setItem(TAB_ITEMS_KEY, JSON.stringify(tabElemData.tabs));

        if (activeId !== id) {
            return;
        }

        let activeNextId

        for (let index in tabElemData.tabs) {
            if (tabElemData.tabs[index].id == id) {
                if (index < tabElemData.tabs.length - 1) {
                    activeNextId = tabElemData.tabs[Number.parseInt(index) + 1].id
                }
                break
            }
            activeNextId = tabElemData.tabs[index].id
        }

        if (activeNextId) {
            let container = document.querySelector("[target-id="+activeNextId+"]")
            if (!container.children.length) {
                htmx.trigger("#" + activeNextId, 'click')
            } else {
                activeTab(activeNextId);
            }
        }
    }

    function activeTab(id, path) {
        // let container = document.querySelector("[target-id="+id)
        // if (!container.children.length) {
        //     setTimeout(() => document.getElementById(id).click(), 200)
        //     return
        // }

        activeId = id

        for (let tab of tabElemData.tabs) {
            if (tab.id === id) {
                tab.active = true
            } else {
                tab.active = false
            }
        }
        history.pushState(null, '', path ? path : tabElemData.tabs.find(tab => tab.id === id).path)

        for (let containerElem of htmlElem.children) {
            if (containerElem.getAttribute("target-id") === id) {
                containerElem.style.display = 'block';
            } else {
                containerElem.style.display = 'none';
            }
        }
    }

    function createHtmlDiv(targetId, id) {
        const newDiv = document.createElement('div');
        newDiv.id = id;
        newDiv.setAttribute("target-id", targetId)
        return newDiv;
    }
</script>
<!-- 分页工具 -->
<script>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.9/cdn.min.js" integrity="sha512-KSdieUYxSxr/laB3Bh5TP8GAng49b2qRfdcnFvh8OuPpPgksA189OQ9v1A3gIz5P9s3A4aXMe5uiHLMfla60Uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>