.table-editor .form-control {
    padding: 0 .5rem;
    /*border: none;*/
    border-width: 0;
    border-radius: 0;
    height: 32px;
}

.table-editor.table-sm th {
    position: relative;
    vertical-align: middle;
    padding-left: .5rem;
}

.table-editor.table-sm label {
    margin-bottom: 0;
}

.table-editor.table-sm td {
    padding: 0;
    vertical-align: middle;
}

.table-editor .required label:before, .table-editor label.required:before {
    left: -8px;
}

.table-editor .characteristic-popup .required label:before, .table-editor .characteristic-popup label.required:before {
    left: -8px;
}

.table-editor tr td.row-number, .table-editor tr td.operator {
    padding: 0 .3rem;
}

.table-editor input:focus {
    background: #fcf0a8;
}

.table-editor .code-input-table table th,
.table-editor .code-input-table table td {
    padding: 4px;
    white-space: nowrap;
    border-left: none;
    border-bottom: none;
    border-right: none;
}